services:
  postgres:
    image: postgres:16
    container_name: amazon_backend_pg
    environment:
      POSTGRES_DB: amazon_backend
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app_password
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U app -d amazon_backend"]
      interval: 5s
      timeout: 5s
      retries: 10

volumes:
  pg_data:
